streamlit
numpy
requests
python-whois
tldextract
nltk
beautifulsoup4
opencv-python-headless
pandas
plotly
yt-dlp
scikit-learn==1.5.2
newspaper3k
lxml_html_clean
joblib
xgboost-cpu==2.1.1
ai-edge-litert==2.1.6
