streamlit
numpy
requests
python-whois
tldextract
nltk
beautifulsoup4
opencv-python
pandas
plotly
yt-dlp
scikit-learn==1.5.2
newspaper3k
python-dateutil
regex
urllib3
matplotlib
seaborn
pillow
lxml
lxml_html_clean
protobuf
pyyaml
joblib
scipy
threadpoolctl
certifi
charset-normalizer
idna
six
tzdata
pytz
tenacity
packaging
tinysegmenter
feedparser
sgmllib3k
feedfinder2
jieba3k
cssselect
xgboost
keras
tensorflow